/* Enlaces de importación (fuente e íconos) */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");



/* Código generales */


* { /* Reset */

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    padding-top: 5vh;
}

p{
    font-size: 18px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #0f0f0f;
}

ul { /* Para quitar los puntos a los items de listas */
    list-style: none;
}


a { /* Para que los enlaces hereden el color de texto y no tengan subrayado */
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}


/*codigos especificos*/


/*encabezado*/

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 10%;
    width: 100%;
    background-color: #fbfbfb;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); 
}

.logo{
    width: 40%;
    max-width: 300px; 
}

#hamburguesa{
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 26px;
    width: 40px;
    height: 40px;
}

i#menu-cerrado{
    display: none;
}

nav{
    display: none;
}

body.mobile-menu-active{
    overflow: hidden;
}

body.mobile-menu-active i#menu-cerrado{
    display: block;
}

body.mobile-menu-active i#open-menu{
    display: none;
}

body.mobile-menu-active header{
    height: 30vh;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.3s;
}

body.mobile-menu-active nav{
    display: block;
    width: 100%;
    height: 50%;
}

body.mobile-menu-active ul#menu{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

li.menu-nav a {
    display: block;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
    font-size: 150%;
}

li.menu-nav:hover, .active {
    background-color: orange;
    transition: background-color 0.4s;
}



    
/*cuerpo*/

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    max-width: 1000px;
}



            /*primera sección*/
#inicio{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_1 {
    width: 70%;
    max-width: 400px;
    border-radius: 50%;
}

#cv { /* boton hoja de vida*/
    border-style: hidden;
    background-color: orange;
    border-radius: 50px;
    margin: 20px 0px 20px 0px;
    padding: 3vh 4vw;
    font-size: 20px;
    color: #fbfbfb;
}

#cv:hover {
    background-color: rgb(25, 25, 58);
    transition: background-color 0.5s;
}

            /*segunda sección*/

#contacto{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.p_contacto {
    border-style: hidden;
    background-color: rgba(211, 138, 2, 0.479);
    border-radius: 15px;
    margin: 2vh 2vw;
    padding: 4vh 6vw;
}

.excepcion { /*excepcion al margen en los emojis*/
    margin-bottom: 0;
}


.foto_contacto { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}


.img_contacto {
    width:70%;
    max-width: 100px;
}


            /*pie de pagina*/
footer { 
    background-color: orange;
    height: 90px;
    width: 100%;
    font-size: 4vw;
    color: #fbfbfb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer p {
    color: #fbfbfb;
}

@media (min-width: 1200px){
    #hamburguesa{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: row;
    }

    #menu{
        display: flex;
        flex-direction: row;
    }
    
    #inicio{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;    
    }

    .mq{ width: 50%;}

    article.mq{
        text-align: left;
    }

    #cv{
        align-self: center;
    }

    .figure{
        max-width: 500px;
        width: 50%
        
    }

    h1{
        font-size: 48px;
        text-align: left;
    }

    .mq p{
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
    }

    h2{
        font-size: 32px;
    }
    
    footer{
        font-size: 1.5vw
    }
}